/******************************************* Généralités *******************************************************/


/* defini d'avance l'ensemble des couleurs qui seront utilisées lors du developemment du site */
:root{
    --main-color: #0065fc;
    --second-color:#deebff;
    --light-grey-color:#f2f2f2;

    
}


/* definir la largeur maximale de la page, la couleur de fond et centrer la page dans le navigateur et rajouter un padding de 40px*/
.container{ 
    background-color: white;
    max-width: 1400px;
    margin:auto;
    padding-left: 40px;
    padding-right: 40px;
   
}


/* De manière générale implementer cette police dans la page*/
*{
    font-family: 'raleway', sans-serif; 
}

body{
    margin: 0;
}



/***************************************  Header   *******************************************************/

/* Tout de suite definir les dimensions du logo*/
.logo img{
    height: 20px;
    width: 60px;
}

/*Donner la propriété flex aux deux liens afin qu'il s'affiche l'un à coté de l'autre*/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    
}
/* enlever l'effet de surlignage des liens, redonner une couleur noir au text, rajouter des padding de sorte à ce que la bordure bleue qui s'affiche au survol ne s'arrete pas à la limite du texte */
.menu a{
    
    text-decoration: none;
    color: black;
    padding: 60px 50px 10px 50px;
   
}

/* donner la proprité flex à tout le header, de sorte à avoir la div logo à gauche et la div menu à droite. egalement definir la hauteur de header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    height: 100px;
    margin-bottom: 30px;
}

/* crée l'appartition de la bordure haute au niveau des liens de navigation et le changement de la couleur du texte lors du survol de la sourir*/

.menu a:hover{
    border-top: solid 2px var(--main-color);
    color: var(--main-color);
}


/****************************************** Section recherche *****************************************/

.titre-recherche h1{
    margin-bottom: 5px;
}

.titre-recherche p{
    margin-top: 5px;
}



/*définit le style du bouton submit*/
.boutton_recherche input[type="submit"]{
    color: white;
    font-size: large;
    background-color: var(--main-color);
    height: 49px;
    width: 140px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    
}
/* definit le style de la zone de texte ou on rentre la recherche */
.search input[type="search"]{
   line-height: 48px;
   width: 270px;
   border-style: none;
   padding-left: 20px;
   font-size: large;
   border: solid var(--light-grey-color) 10px;
   border-style: none;
    
}
/*définit le style du placeholder*/
::placeholder{
    font-size: large;
    color: black;
}

/* definit le style du logo FontAwsome qui sert de labal au formulaire */
.logo_geo{
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 50px;
    background-color: var(--light-grey-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* definit le style du logo loupe de FontAwsome qui sert de submit en version mobile. Pour l'instant caché */
.loupe{
    background-color: var(--main-color);
    color: white;
    font-size: large;
    height: 49px;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    display: none;
}

/* permet d'enlever la bordure extérieure du input search lorsqu'on clique dessus */
.search input:focus{
   outline: none;
}

/* definit la disposition en mode flex horizontal du formulaire  */
form{
    display: flex;
    height: 42px;
    align-items:center;
    width:fit-content;     
}

/* definit la disposition en mode flex vertical de toute la zone de recherche à savoir titre, sous titre puis barre de recherche */
.recherche{
    display: flex;
    flex-direction: column;
}

/********************************************************* section filtre *******************************************/

.titre_filtre{
    font-size: 17px;
    font-weight: 700;
}

/* définit le style des 4 élements de filtre */
.element_filtre{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 50px;
  width: fit-content;
  gap: 10px;
  font-size: 17px;
  font-weight: 700;
  border: solid 1px var(--light-grey-color); 
  border-radius: 25px;
  
}

/*définit le style des logo FonAwsome dans les élements de filtre*/
.element_filtre i{
    color: var(--main-color);
    
}

/* definit le style lors du hover des élements de filtre */
.element_filtre:hover{

    background-color: var(--second-color);
}

/* definit propriété flex par couple d'élément pour anticiper l'intégration mobile */
.eco_famille{
    display: flex;
    gap: 20px;
       
}
/* definit propriété flex par couple d'élément pour anticiper l'intégration mobile */
.romantique_animaux{
    display: flex;
    gap: 20px;
    
}
/* definit la propriété flex du conteneur qui contient les deux coupples d'element filtre*/
.partie_filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}


/* definit disposition flex de toute la section filtre */
.filtre{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.info i{
    color: var(--main-color);
}
.info p{
    font-size: 16px;
}

/***************************** Section hébergement ******************************************/


/*definit l'arrière plan, les propriété flexbox et le style du conteneur hébergement marseille*/
.hebergement_marseille{
    background-color: var(--light-grey-color);
    height: 626px;
    width: 880px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
   
}
/* definit la position des titre et du afficher plus en fin de div */
.hebergement_marseille h1, h3{
    margin-left: 40px;
    margin-top: 10px;
    
    
    
}

/* definit le style des cards présents dans la div. les border radius, les ombres et l'alignement images /textes  */
.card{
    width: 246px;
    height: 199px;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
}

/* definit le comportement et les dimensions des images dans les cards notament la manière dont elles fit dans la card */
.card img{
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* defini le style des etoiles de chez FontAwsome */
.nom_prix_note i{
    color: var(--main-color);
    font-size: smaller;
        
}
.nom_hotel{
    font-size: 16px;
    font-weight: 700;
}
/* definit la hauteur de ligne des texte dans les cards pour qu'ils rentrent bien dans les cards*/
.nom_prix_note{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 9px;
    padding-left: 10px;
    font-size: 14px;
}

/* defini les propriété flexbox de la ligne 1 */
.ligne_1{
    display: flex;
    justify-content:space-evenly;
     
}

/*defini les propriété flexbox de la ligne 2*/
.ligne_2{
    display: flex;
    justify-content: space-evenly;
}

/*retire les effets de style (soulignement, couleur violette des liens) sur nos cards qui sont des liens*/
.hebergement_marseille a{
    text-decoration: none;
    color: black;
}