/******************************************* Généralités *******************************************************/

:root{
    --main-color: #0065fc;
    --second-color:#deebff;
    --light-grey-color:#f2f2f2;   
}
body {
	display: flex;
	justify-content: center;
    margin: 0px;
    
}
.container{ 
    max-width: 1400px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;   
}
/*defini la couleur de tout les icones FontAwsome*/
i{
    color: var(--main-color);
}

a{
    text-decoration: none; 
    color: black;   
}

p{
    font-size: 16px;
}


/* De manière générale implementer cette police dans la page*/
*{
    font-family: 'raleway', sans-serif; 
}

/***************************************  Header   *******************************************************/

.logo{   
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 80px;
}

.logo img{
    width: 60px;
    height: 19px;
}

.menu{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    height: 80px;   
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 50px; 
    
}
.lien{
    text-align: center;
    border-top: solid 1px transparent;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;    
}

.lien:hover{
    border-top: solid 1px var(--main-color);
}
.lien:hover a{
    color: var(--main-color);
}

/****************************************** Section recherche *****************************************/
.titre-recherche h2{
    margin-bottom: 0px;
 
}
.titre-recherche p{
    margin-top: 8px;
    margin-bottom: 35px;
}
/* definit le style du logo FontAwsome qui sert de label au formulaire */
.logo_geo{
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 50px;
    background-color: var(--light-grey-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
/* definit le style de la zone de texte ou on rentre la recherche */
.search input[type="search"]{
   
    width: 270px;
    border-top: solid 1px var(--light-grey-color);
    border-bottom: solid 1px var(--light-grey-color);
    border-left-style: none;
    border-right-style: none;
    line-height: 44px;
    padding-left: 20px;
      
 }
/*définit le style du bouton submit*/
.boutton_recherche input[type="submit"]{
    color: white;
    font-size: large;
    background-color: var(--main-color);
    height: 49px;
    width: 140px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;   
}

/*définit le style du placeholder*/
::placeholder{
    font-size: large;
    color: black;
}
/* permet d'enlever la bordure extérieure du input search lorsqu'on clique dessus */
.search input:focus{
    outline: none;
 }
 
/* definit la disposition en mode flex horizontal du formulaire  */
form{
    display: flex;
    height: 42px;
    align-items:center;      
}
/* definit le style du logo loupe de FontAwsome qui sert de submit en version mobile. Pour l'instant caché */
.loupe{
    background-color: var(--main-color);
    height: 49px;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    display: none;
}
/* definit la disposition en mode flex vertical de toute la zone de recherche à savoir titre, sous titre puis barre de recherche */
.recherche{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/********************************************************* section filtre *******************************************/

.logo_geo i{
    color: black;
}
/* définit le style des 4 élements de filtre */
.element_filtre{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 50px;
  gap: 10px;
  font-size: 17px;
  font-weight: 700; 
  border: solid 1px var(--light-grey-color); 
  border-radius: 25px;
}
/* definit propriété flex par couple d'élément pour anticiper l'intégration mobile */
.eco_famille{
    display: flex;
    gap: 20px;       
}
/* definit propriété flex par couple d'élément pour anticiper l'intégration mobile */
.romantique_animaux{
    display: flex;
    gap: 20px;    
}
/* definit le style lors du hover des élements de filtre */
.element_filtre:hover{
   background-color: var(--second-color);
}

/* definit la propriété flex du conteneur qui contient les deux coupples d'element filtre*/
.partie_filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
/* definit disposition flex de toute la section filtre */
.filtre{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
.info{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;    
}

/********************************************** Section hébergement *******************************************************/

/*container qui englobe tout les élements de hébergement à marseille. le container de card, les titre et les liens afficher plus*/
.container_hebergement_gauche{
    background-color: var(--light-grey-color);
    height: 626px;
    width: 65%;
    border-radius: 20px;
    padding: 10px 40px 0px 40px;
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    
}
.container_ligne_1_2{
    display: flex;
    flex-direction: column;
    gap: 30px;    
}
/* defini les propriété flexbox de la ligne 1 */
.ligne_1{
    display: flex;
    justify-content: space-between;
    width: 100%;    
}

/*defini les propriété flexbox de la ligne 2*/
.ligne_2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* definit le style des cards présents dans la div. les border radius, les ombres et l'alignement images /textes  */
.ligne_1 a, .ligne_2 a{
    width: 30%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;    
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
}
/* definit le comportement et les dimensions des images dans les cards notament la manière dont elles fit dans la card */
.card img{
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    border: solid 5px white;
    box-sizing: border-box;       
}
/* defini le style du lien afficher_plus*/
.afficher_plus{
    font-size: 18px;
    font-weight: 700; 
    padding-bottom: 30px;   
}
/*definit le style du titre dans les cards*/ 
.nom_hotel h4{
    margin-top: 0px;
    margin-bottom: 0px;  
}
/* definit les texte, les etoiles font awsome dans la description des cards*/
.nom_prix_note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 10px;    
}

/***********************************Les plus populaires**************************/

/*defini la disposition entre le titre de cette article et l'icone fontawsome*/
.titre_populaire{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

/****container général de la grande div de droite*/
.container_populaires_droite{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light-grey-color);
    height: 626px;
    width: 32%;
    border-radius: 20px;
    padding: 10px 40px 30px 40px;
    box-sizing: border-box;  
}
/*container des 3 cards de la div de droite*/
.container_cards_droite{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: 100%;   
}
/*cdefinit le style des cards de droite*/
.card_2{
    width: 100%;
    height: 144px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
    padding-right: 30px;
}
/*definit le style de l'image dans les cards de droite*/
.card_2 img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border: solid 5px white;  
    box-sizing: border-box;
}
/*definit le le style des texte dans les cards*/
.nom_prix_note_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 9px;
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 10px;
}
/*definit le style des titre dans les cards de droite*/
.nom_hotel_2 h4{
    margin-top: 8px;
    margin-bottom: 7px;
    font-size: 16px;  
}
/*definit la propriété flex de la grand section qui comprends le container gauche et droite*/
.hebergement{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/***************************************************** section activité à marseille ***************************************/
.activites_a_marseille{
    width: 100%;
}
/*definit la propriété flex du container de toutes les cards activités à marseille*/
.container_activites{
    display: flex;
    width: 100%;
    justify-content:space-between;
    gap: 43px;
    padding-top: 20px;
    margin-bottom: 61px;
}

/*definit le style des cards dans la section activité à marseille */
.container_activites a{
    width: 23%;
    height: 444px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
}

/*definit le style des images contenu dans les cards activités à marseille*/
.container_activites a img{
    height: 389px;
    width: 100%;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;      
}
.nom_activite h4{
    padding-left: 19px;
    margin-top: 15px;
}

/**************************************************    footer     **************************************************/

/*définit le container du footer*/
.container_footer{
    display: flex;
    gap: 180px;
    align-items:flex-start;
    height: 225px;
    width: 100%;
    background-color: var(--light-grey-color);    
}

/*pour decaler le titre histoire de l'aligner avec les elements-list*/
.liste_footer h3{
    padding-left: 40px;
}
/*pour supprimer le padding automatique des element list*/
.liste_footer ul li{
    list-style: none;
    padding: 0px 0px 12px 0px;
}

/*****************************************      media querie tablette         **********************************/

@media screen and (max-width: 992px) {
    
    .container{    
        max-width: 992px;
        width: 100%;
        margin: auto;
           
    }

    /************  partie filtre *******************/

    .element_filtre{
        padding: 0 20px;
        font-size: 11px;
    }
    /***********partie hébergement **********/   

    /*definit la section hébergement avec la section "hebergement à marseille" et la section "les plus populaires en flex colonne*/
    .hebergement{
        flex-direction: column;
        justify-content: space-between;
        gap: 53px;
        margin-bottom: 70px;
    }
    /* demander au container de hébergement à marseille de prendre toute la largeur de l'ecran*/
    .container_hebergement_gauche{
        width: 100%;    
    }

    /*definit le contenu du container "les plus populaires en mode flex row*/
    .container_cards_droite{
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        height: 100%;         
     }
   
    .container_populaires_droite{
        justify-content: space-between;
        width: 100%;
        height: 100%;
        
    }
    .container_cards_droite a{
        width: 33%;
        height: 100%;
    }
    .card_2{
        width: 100%;
        padding-right: 5px;
    }
   
    .card_2 img{
        width: 50%;
        height: 144px;
        padding-right: 5px;
    }
    .nom_prix_note_2{
        font-size: 11px;
        padding-top: 9px;
        padding-left: 0px;
    }
    .nom_prix_note_2 h4{
        font-size: 13px;
    }

    /*************Section activité **************/
    .container_activites a{
        width: 22%;
        height: 260px;
    }
    
    .container_activites{
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
        
    }
    .container_activites a img{
        height: 200px;
        width: 100%;     
    }
    .nom_activite h4{
        margin-top: 9px;
        padding-right: 5px;
    }

    /*footer*/
    
    .container_footer{
        width: 100%;
        gap: 20px;
    }

    }
    /*****************************************media querie smartphone****************************/

    @media screen and (max-width: 767px){
        
      
        .container{ 
            max-width: 767px;
            margin: auto;
            padding-left: 0px;
            padding-right: 0px;
        }
    /*************header *************/
        .nav{
            flex-direction: column;
            align-items: center;
            padding-bottom: 0px;
            
            
        }
        .logo{
            width: 100%;
            justify-content: center;
        }

        .menu{
            width: 100%;
            justify-content: space-evenly;
            gap: 0px;
        }
        .lien{
            width: 50%;
            border-top: none;
            border-bottom: solid 1px transparent ;
            padding-top: 40px;
            padding-bottom: 20px;
            
        }

        .lien:hover{
            border-bottom: solid 3px var(--main-color);
            border-top: none;
        }
        
    /******************************barre de recherche***************************/

        .recherche{
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            box-sizing: border-box;
        }
        .titre-recherche{
            width: 100%;
            
        }
        .boutton_recherche input[type="submit"]{
            display: none;
            width: 0px;
        }
        .search input[type="search"]{
            width: 65vw;
        }
        .logo_geo{
            width: 15vw;
        }
       
        .loupe{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 12vw;           
        }
        .loupe i{
            color: white;
        }
       
         
       
       

    /********filtres********/
        .filtre{
            padding-left: 20px;
            padding-right: 20px;
            box-sizing: border-box;
            
        }
        .partie_filtre{
            flex-direction: column;
            align-items: flex-start;
            width: 100%;  
        }

        .eco_famille {  
         width: 100%;
         
        }
        .romantique_animaux {
            width: 100%;
        }

        .partie_filtre a {
            justify-content: flex-start;
            width: 50%;
        }
        .element_filtre{
            justify-content: flex-start;
            font-size: 11px;
            padding: 0 13px;
        }
        .info{
            align-items: baseline;
        }
    /******************** hebergement ***************************/

    /*definit la disposition flex column reverse de la grande section hebergement*/
        .hebergement{
            flex-direction: column-reverse;
            gap: 0px;     
        } 

    /*definit d'abord le container "les plus populaires*/       
        .container_populaires_droite{
            padding-bottom: 0px;
            border-radius: 0px;
            padding-left: 20px;
            padding-right: 20px;
            
        }
        .container_cards_droite{
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            height: 100%;
            padding-bottom: 20px;
        }

        .container_cards_droite a{
            width: 100%;
        }

        .card_2 img{
            width: 45%;
        }

    /* definit ensuite le container hébergement à marseille*/

        .container_hebergement_gauche{
            background-color: transparent;
            height: 100%;
            padding-top: 26px;
            gap: 26px;
            padding-left: 20px;
            padding-right: 20px;
           
        }

        .container_cards_gauche{
            gap: 20px;
        }
        .ligne_1{
            flex-direction: column;
            gap: 20px;
        }
        .ligne_2{
            flex-direction: column;
            gap: 20px;
        }

        .ligne_1 a, .ligne_2 a{
            width: 100%;
        }
        /****************activité marseille **************************/
       
        .activites_a_marseille{
            padding-left: 20px;
            padding-right: 20px; 
            box-sizing: border-box; 
        }
        .container_activites{
            flex-direction: column;
            gap: 24px; 
            
            
              
        }
        .container_activites a{
            width: 100%;
        }
        

        /**************** footer ********************/

        .container_footer{
            flex-direction: column;
            justify-content: flex-start;
            
            height: 100%;
        }

    }