/******************************************* Généralités *******************************************************/


/* defini d'avance l'ensemble des couleurs qui seront utilisées lors du developemment du site */
:root{
    --main-color: #0065fc;
    --second-color:#deebff;
    --light-grey-color:#f2f2f2;   
}
body {
	display: flex;
	justify-content: space-between;
    margin: 0px;
}

/* definir la largeur maximale de la page, la couleur de fond et centrer la page dans le navigateur et rajouter un padding de 40px*/
.container{ 
    background-color: white;
    max-width: 1400px;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;   
}

/* De manière générale implementer cette police dans la page*/
*{
    font-family: 'raleway', sans-serif; 
}



/***************************************  Header   *******************************************************/

.logo{
    
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-end;
    height: 80px;
}

.logo img{
    width: 60px;
    height: 19px;
}

.menu{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    height: 80px;
   
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    
}
.lien{
    text-align: center;
    border-top: solid 1px transparent;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    
}
.lien a{
    text-decoration: none;
    color: black;
}

.lien:hover{
    border-top: solid 1px var(--main-color);
}

/****************************************** Section recherche *****************************************/

.titre-recherche h1{
    margin-bottom: 5px;
}

.titre-recherche p{
    margin-top: 5px;
}



/*définit le style du bouton submit*/
.boutton_recherche input[type="submit"]{
    color: white;
    font-size: large;
    background-color: var(--main-color);
    height: 49px;
    width: 140px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    
}
/* definit le style de la zone de texte ou on rentre la recherche */
.search input[type="search"]{
   line-height: 48px;
   width: 270px;
   border-style: none;
   padding-left: 20px;
   font-size: large;
   border: solid var(--light-grey-color) 10px;
   border-style: none;
    
}
/*définit le style du placeholder*/
::placeholder{
    font-size: large;
    color: black;
}

/* definit le style du logo FontAwsome qui sert de labal au formulaire */
.logo_geo{
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 50px;
    background-color: var(--light-grey-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* definit le style du logo loupe de FontAwsome qui sert de submit en version mobile. Pour l'instant caché */
.loupe{
    background-color: var(--main-color);
    color: white;
    font-size: large;
    height: 49px;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    display: none;
}

/* permet d'enlever la bordure extérieure du input search lorsqu'on clique dessus */
.search input:focus{
   outline: none;
}

/* definit la disposition en mode flex horizontal du formulaire  */
form{
    display: flex;
    height: 42px;
    align-items:center;
    width:fit-content;     
}

/* definit la disposition en mode flex vertical de toute la zone de recherche à savoir titre, sous titre puis barre de recherche */
.recherche{
    display: flex;
    flex-direction: column;
}

/********************************************************* section filtre *******************************************/

.titre_filtre{
    font-size: 17px;
    font-weight: 700;
}

/* définit le style des 4 élements de filtre */
.element_filtre{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 50px;
  width: fit-content;
  gap: 10px;
  font-size: 17px;
  font-weight: 700;
  border: solid 1px var(--light-grey-color); 
  border-radius: 25px;
  
}

/*définit le style des logo FonAwsome dans les élements de filtre*/
.element_filtre i{
    color: var(--main-color);
    
}

/* definit le style lors du hover des élements de filtre */
.element_filtre:hover{

    background-color: var(--second-color);
}

/* definit propriété flex par couple d'élément pour anticiper l'intégration mobile */
.eco_famille{
    display: flex;
    gap: 20px;
       
}
/* definit propriété flex par couple d'élément pour anticiper l'intégration mobile */
.romantique_animaux{
    display: flex;
    gap: 20px;
    
}
/* definit la propriété flex du conteneur qui contient les deux coupples d'element filtre*/
.partie_filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}


/* definit disposition flex de toute la section filtre */
.filtre{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.info i{
    color: var(--main-color);
}
.info p{
    font-size: 16px;
}

/***************************** Section hébergement ******************************************/


/*definit l'arrière plan, les propriété flexbox et le style du conteneur général gauche hébergement marseille*/

.container_hebergement_gauche{
    background-color: var(--light-grey-color);
    height: 626px;
    width: 65%;
    border-radius: 20px;
    padding: 10px 40px 0px 40px;
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    
}
/* defini le conteneur contenant les deux lignes de cards*/
.container_cards_gauche{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 30px; 
     
}

/* defini le style du lien afficher_plus*/
.afficher_plus a{
    font-size: 18px;
    font-weight: 700; 
    text-decoration: none;
    color: black;   
}

/* definit le style des cards présents dans la div. les border radius, les ombres et l'alignement images /textes  */
.card{
    width: 246px;
    height: 100%;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
}

/* definit le comportement et les dimensions des images dans les cards notament la manière dont elles fit dans la card */
.card img{
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

/* defini le style des etoiles de chez FontAwsome */
.nom_prix_note i{
    color: var(--main-color);
    font-size: smaller;       
}
/*definit le style du titre dans les cards*/ 
.nom_hotel{
    font-size: 16px;
    font-weight: 700;
    
}
/* definit la hauteur de ligne des texte dans les cards pour qu'ils rentrent bien dans les cards*/
.nom_prix_note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding-top: 9px;
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 5px;
    
    
}

/* defini les propriété flexbox de la ligne 1 */
.ligne_1{
    display: flex;
    justify-content:space-between;
    width: 100%;
    
    
}

/*defini les propriété flexbox de la ligne 2*/
.ligne_2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*retire les effets de style (soulignement, couleur violette des liens) sur nos cards qui sont des liens*/
.container_cards_gauche a{
    text-decoration: none;
    color: black;
}

/***********************************Les plus populaires**************************/

/****container général de la grande div de droite*/
.container_populaires_droite{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--light-grey-color);
    height: 626px;
    width: 32%;
    border-radius: 20px;
    padding: 10px 40px 30px 40px;
    box-sizing: border-box;  
}
/*container des 3 cards de la div de droite*/
.container_cards_droite{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: 100%;   
}

/*cdefinit le style des cards de droite*/
.card_2{
    width: 346px;
    height: 144px;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;

}
/*definit le style de l'image dans les cards de droite*/
.card_2 img{
    width: 137px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 20px;   
}

/*definit le le style des texte dans les cards*/
.nom_prix_note_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 9px;
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 10px;
}
/*definit le style des titre dans les cards de droite*/
.nom_hotel_2{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 8px;
}

/* definit le style des etoiles de chez FontAwsome dans les cards de droite*/
.nom_prix_note_2 i{
    color: var(--main-color);
}

/*supprime les style souligné et couleur violette des liens */
.container_cards_droite a{
    text-decoration: none;
    color: black;
}

/*definit la propriété flex de la grand section qui comprends le container gauche et droite*/
.hebergement{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/******************************* section activité à marsielle ***************************/

.card_activite{
    width: 302px;
    height: 445px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
}

.card_activite img{
    width: 100%;
    height: 389px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
    
}

.nom_activite{
    font-size: 16px;
    font-weight: 700;
    padding-left: 19px;
    padding-top: 20px;
}

.container_activites{
    display: flex;
    width: 100%;
    justify-content:space-between;
    gap: 43px;
    padding-top: 20px;
    margin-bottom: 61px;
}

.container_activites a{
    text-decoration: none;
    color: black;
}



/************************footer***********************************/
.container_footer{
    display: flex;
    gap: 180px;
    align-items:flex-start;
    height: 225px;
    width: 100%;
    background-color: var(--light-grey-color);
    
    
}
.liste_footer{
    width: fit-content;
    
}

.liste_footer h1{
    padding-left: 40px;
}
.liste_footer ul li{
    list-style: none;
    padding: 0px 0px 12px 0px;

}

.liste_footer a{
    text-decoration: none;
    color: black;
}

/*****************************************media querie tablette****************************/

@media screen and (max-width: 992px) {
   
    body {
        display: flex;
        justify-content: space-between;
        margin: 0px;
    }
    
    .container{ 
        background-color: white;
        max-width: 992px;
        padding-left: 40px;
        padding-right: 40px;
        margin: auto;
       
    }

    .element_filtre{
        padding: 0 20px;
    }
    
    .hebergement{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 53px;
        margin-bottom: 70px;
    }

    .container_cards_droite{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        height: 100%;   
     }
    .container_populaires_droite{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .container_hebergement_gauche{
        width: 100%;
        
    }

    .ligne_1{
        justify-content: space-between;

    }
    .ligne_2{
        justify-content: space-between;
    }

    .card_2{
        width: 252px;
        height: 154px;
        
    }
    .card_2 img{
        width: 106px;
        height: 100%;
    }
    .nom_prix_note_2{
        font-size: 14px;
        padding-top: 9px;
        padding-left: 0px;
    }

    
    .card_activite{
        width: 182px;
        height: 267px;
        
    }
    .card_activite img{
        height: 211px;
        width: 100%;
    }
    .container_activites{
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
        
    }
    .container_footer{
        width: 100%;

        gap: 50px;
    }

    }

    /*****************************************media querie smartphone****************************/

    @media screen and (max-width: 767px){
        body {
            display: flex;
            justify-content: space-between;
            margin: 0px;
        }
        
        .container{ 
            background-color: white;
            max-width: 768px;
            padding-left: 19px;
            padding-right: 19px;
            margin: auto;
        }
/*************header *************/
        .nav{
            flex-direction: column;
            align-items: center;
            padding-bottom: 0px;
            
        }
        .logo{
            width: 100%;
            justify-content: center;
        }

        .menu{
            width: 100%;
            justify-content: space-evenly;
            
            gap: 0px;
        }
        .lien{
            width: 50%;
            border-top: none;
            border-bottom: solid 1px transparent ;
            padding-top: 40px;
            padding-bottom: 20px;
            
        }

        .lien:hover{
            border-bottom: solid 1px var(--main-color);
            border-top: none;
        }
        
/******************************barre de recherche***************************/
        .titre-recherche{
            width: 100%;
            
        }

/********filtres********/

        .partie_filtre{
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        .eco_famille{  
         width: 100%;
        }
        .romantique_animaux{
            width: 100%;
        }

        .element_filtre{
            justify-content: flex-start;
            width: 50%;
        
        }
 /******************** hebergement ***************************/
        .hebergement{
            flex-direction: column-reverse;
        } 
        
        .container_cards_droite{
            flex-direction: column;
        
            height: 580px;
        }
        .card_2{
            width: 100%;
        }

        .card_2 img{
            width: 30%;
        }

        .ligne_1{
            flex-direction: column;
            gap: 20px;
        }
        .ligne_2{
            flex-direction: column;
            gap: 20px;
        }

        .container_hebergement_gauche{
            height: 100%;
            background-color: transparent;
           
        }

        .container_cards_gauche{
            gap: 20px;
        }

        .card{
            width: 100%;
        }

        /****************activité marseille **************************/

        .container_activites{
            flex-direction: column;
            gap: 60px;
        }
        .card_activite{
            width: 100%;
        }

        /**************** footer ********************/

        .container_footer{
            flex-direction: column;
            height: 100%;
        }

    }